:root {
    --vp-c-brand-1: #5f56e3;
    --vp-c-brand-2: #6961e7;
    --vp-c-brand-3: #7169e3;
    --vp-c-brand-4: #3730a3;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
            120deg,
            var(--vp-c-brand-1) 30%,
            #41d1ff
    );

    --vp-home-hero-image-background-image: linear-gradient(
            -45deg,
            #bd34fe 50%,
            #47caff 50%
    );
    --vp-home-hero-image-filter: blur(40px);

    --vp-custom-block-warning-bg: transparent;
    --vp-custom-block-warning-border: #eab308;
    --vp-custom-block-warning-color: #eab308;

    --vp-custom-block-info-bg: transparent;
    --vp-custom-block-info-border: #6366f1;
    --vp-custom-block-info-color: #6366f1;

    --vp-custom-block-success-bg: transparent;
    --vp-custom-block-success-border: #10b981;
    --vp-custom-block-success-color: #10b981;

    --vp-custom-block-danger-bg: transparent;
    --vp-custom-block-danger-border: #ef4444;
    --vp-custom-block-danger-color: #ef4444;
}

.warning .custom-block-title {
    color: var(--vp-custom-block-warning-color);
}

.info .custom-block-title {
    color: var(--vp-custom-block-info-color);
}

.success .custom-block-title {
    color: var(--vp-custom-block-success-color);
}

.danger .custom-block-title {
    color: var(--vp-custom-block-danger-color);
}

.image-container {
    max-width: 650px !important;
}

.image-bg {
    content: "";
    position: absolute;
    background: linear-gradient(
            60deg,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82
    ) !important;
    animation: animatedgradient 3s ease alternate infinite !important;
    background-size: 500% 500% !important;
}

.image-src {
    max-width: 560px !important;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.VPHome .main .text {
    font-size: 30px;
}

@media (max-width: 768px) {
    .VPHome .main .text {
        font-size: 20px;
    }
}

.VPImage.logo {
    border-radius: 5px;
}

.VPHero .VPImage {
    border-radius: 10px;
    border: 1px solid #eaeaea;
}

.dark .VPHero .VPImage {
    border: 1px solid #333;
}

.VPButton.primary {
    background: var(--vp-c-brand-1);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}